Dailies <br />
<!-- countdown to reset -->
Next reset {{ formattedTimeLeft }} <br />
reset: {{ resetDatetime | date : "full" }}

<!-- clear completions on reset -->
<!-- ability to add custom tasks -->
<!-- row of configured tasks -->

<!-- Standard -->
@if(dailies() && dailies().length > 0) {
<div>
  @for (daily of dailies(); track daily.name) {
  <app-task
    [name]="daily.name"
    [done]="doneDailies().indexOf(daily.name) > -1"
    [image]="daily.image"
    [editable]="editable"
  ></app-task>
  }
</div>
}

<!-- Edit -->
